.chat {
  flex: 2;
  display: flex;
  flex-direction: column;
  .center {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  .bottom {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;

    input {
      flex: 1;
      background-color: #11192880;
      border: none;
      outline: none;
      color: #fff;
      font-size: 16px;
      border-radius: 10px;
      padding: 20px;
    }
    .sendButton {
      background-color: #5183fe;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
